@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {

  @font-face {
      font-family: cabin_bold;
      src: url("../fonts/Cabin-Bold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "roboto";
      src: url("../fonts/RobotoSlab-Regular-webfont.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "roboto_bold";
      src: url("../fonts/RobotoSlab-Bold-webfont.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_black";
      src: url("../fonts/NunitoSans-Black.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_black_italic";
      src: url("../fonts/NunitoSans-BlackItalic.woff") format("woff");
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_bold";
      src: url("../fonts/NunitoSans-Bold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_bold_italic";
      src: url("../fonts/NunitoSans-BoldItalic.woff") format("woff");
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_extrabold";
      src: url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_extrabold_italic";
      src: url("../fonts/NunitoSans-ExtraBoldItalic.woff") format("woff");
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_extralight";
      src: url("../fonts/NunitoSans-ExtraLight.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_extralight_italic";
      src: url("../fonts/NunitoSans-ExtraLightItalic.woff") format("woff");
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_italic";
      src: url("../fonts/NunitoSans-Italic.woff") format("woff");
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_light";
      src: url("../fonts/NunitoSans-Light.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_light_italic";
      src: url("../fonts/NunitoSans-LightItalic.woff") format("woff");
      font-weight: normal;
      font-style: italic;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_regular";
      src: url("../fonts/NunitoSans-Regular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: "nunito_semibold";
      src: url("../fonts/NunitoSans-SemiBold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

}  

@layer components {
    .btn-gray {
        @apply py-2 px-4 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-opacity-75;
    }

    .toggle-checkbox:checked {
        @apply: right-0 border-green-600;
        right: 0;
        border-color: #43A047;
    }

    .toggle-checkbox:checked+.toggle-label {
        @apply: bg-green-600;
        background-color: #43A047;
    }

    .button {
        @apply bg-gray-900 hover:bg-gray-500 text-white font-bold py-2 px-8 rounded cursor-pointer;
    }

    .link {
        @apply text-gray-700 hover:text-gray-500 cursor-pointer;
    }

    .heading {
        @apply text-3xl font-roboto_bold text-gray-700;
    }

    .tooltip .tooltip-text {
        @apply invisible px-4 py-1 absolute z-50 inline-block -ml-4 -mt-8 text-sm rounded bg-gray-300 text-black;
    }

    .tooltip:hover .tooltip-text {
        @apply visible;
    }
}

