/*! tailwindcss v2.1.1 | MIT License | https://tailwindcss.com *//*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

:root {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}


/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e4e4e7; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #a1a1aa;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #a1a1aa;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * Make replaced elements `display: block` by default as that's
 * the behavior you want almost all of the time. Inspired by
 * CSS Remedy, with `svg` added as well.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

* {
	--tw-shadow: 0 0 #0000;
	--tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(14, 165, 233, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
}

@font-face {
    font-family: "cabin_bold";
    src: url("Cabin-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto";
    src: url("RobotoSlab-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_black";
    src: url("NunitoSans-Black.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_black_italic";
    src: url("NunitoSans-BlackItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito_bold";
    src: url("NunitoSans-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_bold_italic";
    src: url("NunitoSans-BoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito_extrabold";
    src: url("NunitoSans-ExtraBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_extrabold_italic";
    src: url("NunitoSans-ExtraBoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito_extralight";
    src: url("NunitoSans-ExtraLight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_extralight_italic";
    src: url("NunitoSans-ExtraLightItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito_italic";
    src: url("NunitoSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito_light";
    src: url("NunitoSans-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_light_italic";
    src: url("NunitoSans-LightItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "nunito_regular";
    src: url("NunitoSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_semibold";
    src: url("NunitoSans-SemiBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "nunito_semibold_italic";
    src: url("NunitoSans-SemiBoldItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-600;
    right: 0;
    border-color: #43A047;
}

.toggle-checkbox:checked+.toggle-label {
    @apply: bg-green-600;
    background-color: #43A047;
}

.button {
	cursor: pointer;
	border-radius: 0.25rem;
	--tw-bg-opacity: 1;
	background-color: rgba(12, 74, 110, var(--tw-bg-opacity));
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	font-weight: 700;
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(14, 165, 233, var(--tw-bg-opacity));
}

.link {
	cursor: pointer;
	--tw-text-opacity: 1;
	color: rgba(12, 74, 110, var(--tw-text-opacity));
}

.link:hover {
	--tw-text-opacity: 1;
	color: rgba(14, 165, 233, var(--tw-text-opacity));
}

.heading {
	font-family: nunito_bold;
	font-size: 1.875rem;
	line-height: 2.25rem;
	--tw-text-opacity: 1;
	color: rgba(12, 74, 110, var(--tw-text-opacity));
}

.tooltip .tooltip-text {
	visibility: hidden;
	position: absolute;
	z-index: 50;
	margin-left: -1rem;
	margin-top: -2rem;
	display: inline-block;
	border-radius: 0.25rem;
	--tw-bg-opacity: 1;
	background-color: rgba(212, 212, 216, var(--tw-bg-opacity));
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.tooltip:hover .tooltip-text {
	visibility: visible;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.top-0 {
	top: 0px;
}

.left-0 {
	left: 0px;
}

.right-0 {
	right: 0px;
}

.bottom-0 {
	bottom: 0px;
}

.z-10 {
	z-index: 10;
}

.z-50 {
	z-index: 50;
}

.col-span-4 {
	grid-column: span 4 / span 4;
}

.col-span-2 {
	grid-column: span 2 / span 2;
}

.col-span-1 {
	grid-column: span 1 / span 1;
}

.col-span-7 {
	grid-column: span 7 / span 7;
}

.col-span-5 {
	grid-column: span 5 / span 5;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx-4 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mr-5 {
	margin-right: 1.25rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mt-4 {
	margin-top: 1rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.ml-3 {
	margin-left: 0.75rem;
}

.mb-12 {
	margin-bottom: 3rem;
}

.mb-16 {
	margin-bottom: 4rem;
}

.mb-0 {
	margin-bottom: 0px;
}

.mr-2 {
	margin-right: 0.5rem;
}

.-mb-px {
	margin-bottom: -1px;
}

.mr-1 {
	margin-right: 0.25rem;
}

.-mt-2 {
	margin-top: -0.5rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.ml-4 {
	margin-left: 1rem;
}

.mt-3 {
	margin-top: 0.75rem;
}

.ml-1 {
	margin-left: 0.25rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-8 {
	margin-top: 2rem;
}

.ml-12 {
	margin-left: 3rem;
}

.-mt-px {
	margin-top: -1px;
}

.mb-8 {
	margin-bottom: 2rem;
}

.mb-40 {
	margin-bottom: 10rem;
}

.mt-6 {
	margin-top: 1.5rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
}

.mb-32 {
	margin-bottom: 8rem;
}

.mt-10 {
	margin-top: 2.5rem;
}

.mb-3 {
	margin-bottom: 0.75rem;
}

.-mr-2 {
	margin-right: -0.5rem;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.table {
	display: table;
}

.grid {
	display: grid;
}

.list-item {
	display: list-item;
}

.hidden {
	display: none;
}

.h-6 {
	height: 1.5rem;
}

.h-20 {
	height: 5rem;
}

.h-full {
	height: 100%;
}

.h-5 {
	height: 1.25rem;
}

.h-8 {
	height: 2rem;
}

.h-16 {
	height: 4rem;
}

.h-0 {
	height: 0px;
}

.h-4 {
	height: 1rem;
}

.h-24 {
	height: 6rem;
}

.h-10 {
	height: 2.5rem;
}

.min-h-screen {
	min-height: 100vh;
}

.w-5 {
	width: 1.25rem;
}

.w-6 {
	width: 1.5rem;
}

.w-7 {
	width: 1.75rem;
}

.w-11\/12 {
	width: 91.666667%;
}

.w-full {
	width: 100%;
}

.w-20 {
	width: 5rem;
}

.w-3\/4 {
	width: 75%;
}

.w-8 {
	width: 2rem;
}

.w-12 {
	width: 3rem;
}

.w-1\/3 {
	width: 33.333333%;
}

.w-auto {
	width: auto;
}

.w-5\/6 {
	width: 83.333333%;
}

.w-16 {
	width: 4rem;
}

.w-1\/2 {
	width: 50%;
}

.w-24 {
	width: 6rem;
}

.w-48 {
	width: 12rem;
}

.w-10 {
	width: 2.5rem;
}

.w-4 {
	width: 1rem;
}

.max-w-7xl {
	max-width: 80rem;
}

.max-w-xl {
	max-width: 36rem;
}

.max-w-6xl {
	max-width: 72rem;
}

.flex-shrink-0 {
	flex-shrink: 0;
}

.transform {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.origin-top-left {
	transform-origin: top left;
}

.origin-top {
	transform-origin: top;
}

.origin-top-right {
	transform-origin: top right;
}

.scale-95 {
	--tw-scale-x: .95;
	--tw-scale-y: .95;
}

.scale-100 {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
}

.cursor-pointer {
	cursor: pointer;
}

.select-none {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

.list-inside {
	list-style-position: inside;
}

.list-disc {
	list-style-type: disc;
}

.appearance-none {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.grid-cols-12 {
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.gap-x-12 {
	-moz-column-gap: 3rem;
	     column-gap: 3rem;
}

.gap-x-4 {
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
}

.gap-x-20 {
	-moz-column-gap: 5rem;
	     column-gap: 5rem;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1rem * var(--tw-space-x-reverse));
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(2rem * var(--tw-space-x-reverse));
	margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.divide-x > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-x-reverse: 0;
	border-right-width: calc(1px * var(--tw-divide-x-reverse));
	border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
}

.divide-gray-400 > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-opacity: 1;
	border-color: rgba(161, 161, 170, var(--tw-divide-opacity));
}

.overflow-hidden {
	overflow: hidden;
}

.rounded {
	border-radius: 0.25rem;
}

.rounded-full {
	border-radius: 9999px;
}

.rounded-md {
	border-radius: 0.375rem;
}

.rounded-t {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.rounded-t-none {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.border-4 {
	border-width: 4px;
}

.border {
	border-width: 1px;
}

.border-b {
	border-bottom-width: 1px;
}

.border-l {
	border-left-width: 1px;
}

.border-t {
	border-top-width: 1px;
}

.border-r {
	border-right-width: 1px;
}

.border-b-2 {
	border-bottom-width: 2px;
}

.border-l-4 {
	border-left-width: 4px;
}

.border-dashed {
	border-style: dashed;
}

.border-gray-200 {
	--tw-border-opacity: 1;
	border-color: rgba(228, 228, 231, var(--tw-border-opacity));
}

.border-gray-300 {
	--tw-border-opacity: 1;
	border-color: rgba(212, 212, 216, var(--tw-border-opacity));
}

.border-red-600 {
	--tw-border-opacity: 1;
	border-color: rgba(220, 38, 38, var(--tw-border-opacity));
}

.border-gray-400 {
	--tw-border-opacity: 1;
	border-color: rgba(161, 161, 170, var(--tw-border-opacity));
}

.border-red-700 {
	--tw-border-opacity: 1;
	border-color: rgba(185, 28, 28, var(--tw-border-opacity));
}

.border-gray-100 {
	--tw-border-opacity: 1;
	border-color: rgba(244, 244, 245, var(--tw-border-opacity));
}

.border-transparent {
	border-color: transparent;
}

.border-warm_gray-400 {
	--tw-border-opacity: 1;
	border-color: rgba(168, 162, 158, var(--tw-border-opacity));
}

.border-indigo-400 {
	--tw-border-opacity: 1;
	border-color: rgba(129, 140, 248, var(--tw-border-opacity));
}

.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-gray-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}

.bg-red-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(220, 38, 38, var(--tw-bg-opacity));
}

.bg-green-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(21, 128, 61, var(--tw-bg-opacity));
}

.bg-yellow-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(161, 98, 7, var(--tw-bg-opacity));
}

.bg-red-700 {
	--tw-bg-opacity: 1;
	background-color: rgba(185, 28, 28, var(--tw-bg-opacity));
}

.bg-gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}

.bg-purple-400 {
	--tw-bg-opacity: 1;
	background-color: rgba(192, 132, 252, var(--tw-bg-opacity));
}

.bg-warm_gray-100 {
	--tw-bg-opacity: 1;
	background-color: rgba(245, 245, 244, var(--tw-bg-opacity));
}

.bg-gray-800 {
	--tw-bg-opacity: 1;
	background-color: rgba(39, 39, 42, var(--tw-bg-opacity));
}

.bg-gray-600 {
	--tw-bg-opacity: 1;
	background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}

.bg-indigo-50 {
	--tw-bg-opacity: 1;
	background-color: rgba(238, 242, 255, var(--tw-bg-opacity));
}

.bg-repeat-x {
	background-repeat: repeat-x;
}

.bg-repeat {
	background-repeat: repeat;
}

.fill-current {
	fill: currentColor;
}

.p-6 {
	padding: 1.5rem;
}

.p-2 {
	padding: 0.5rem;
}

.p-4 {
	padding: 1rem;
}

.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.py-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.pb-6 {
	padding-bottom: 1.5rem;
}

.pt-3 {
	padding-top: 0.75rem;
}

.pt-24 {
	padding-top: 6rem;
}

.pb-8 {
	padding-bottom: 2rem;
}

.pb-3 {
	padding-bottom: 0.75rem;
}

.pr-4 {
	padding-right: 1rem;
}

.pt-4 {
	padding-top: 1rem;
}

.pt-8 {
	padding-top: 2rem;
}

.pt-2 {
	padding-top: 0.5rem;
}

.pb-4 {
	padding-bottom: 1rem;
}

.pb-fluid-video {
	padding-bottom: 56.25%;
}

.pt-6 {
	padding-top: 1.5rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

.pt-1 {
	padding-top: 0.25rem;
}

.pl-3 {
	padding-left: 0.75rem;
}

.pb-1 {
	padding-bottom: 0.25rem;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-left {
	text-align: left;
}

.align-middle {
	vertical-align: middle;
}

.font-nunito_bold {
	font-family: nunito_bold;
}

.font-nunito_regular {
	font-family: nunito_regular;
}

.font-roboto {
	font-family: roboto;
}

.font-nunito_extrabold {
	font-family: nunito_extrabold;
}

.font-nunito_semibold {
	font-family: nunito_semibold;
}

.font-nunito_light {
	font-family: nunito_light;
}

.font-roboto_bold {
	font-family: roboto_bold;
}

.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-8xl {
	font-size: 6rem;
	line-height: 1;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}

.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}

.font-semibold {
	font-weight: 600;
}

.font-medium {
	font-weight: 500;
}

.uppercase {
	text-transform: uppercase;
}

.leading-tight {
	line-height: 1.25;
}

.leading-none {
	line-height: 1;
}

.leading-7 {
	line-height: 1.75rem;
}

.leading-normal {
	line-height: 1.5;
}

.leading-5 {
	line-height: 1.25rem;
}

.tracking-wider {
	letter-spacing: 0.05em;
}

.tracking-widest {
	letter-spacing: 0.1em;
}

.text-medium-gray {
	--tw-text-opacity: 1;
	color: rgba(119, 124, 131, var(--tw-text-opacity));
}

.text-red-600 {
	--tw-text-opacity: 1;
	color: rgba(220, 38, 38, var(--tw-text-opacity));
}

.text-gray-800 {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}

.text-gray-500 {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.text-indigo-600 {
	--tw-text-opacity: 1;
	color: rgba(79, 70, 229, var(--tw-text-opacity));
}

.text-gray-600 {
	--tw-text-opacity: 1;
	color: rgba(82, 82, 91, var(--tw-text-opacity));
}

.text-red-800 {
	--tw-text-opacity: 1;
	color: rgba(153, 27, 27, var(--tw-text-opacity));
}

.text-yellow-800 {
	--tw-text-opacity: 1;
	color: rgba(12, 74, 110, var(--tw-text-opacity));
}

.text-green-600 {
	--tw-text-opacity: 1;
	color: rgba(22, 163, 74, var(--tw-text-opacity));
}

.text-gray-700 {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}

.text-white {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-gray-200 {
	--tw-text-opacity: 1;
	color: rgba(228, 228, 231, var(--tw-text-opacity));
}

.text-gray-300 {
	--tw-text-opacity: 1;
	color: rgba(212, 212, 216, var(--tw-text-opacity));
}

.text-gray-400 {
	--tw-text-opacity: 1;
	color: rgba(161, 161, 170, var(--tw-text-opacity));
}

.text-gray-900 {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}

.text-tan {
	--tw-text-opacity: 1;
	color: rgba(14, 165, 233, var(--tw-text-opacity));
}

.text-red-500 {
	--tw-text-opacity: 1;
	color: rgba(239, 68, 68, var(--tw-text-opacity));
}

.text-indigo-700 {
	--tw-text-opacity: 1;
	color: rgba(67, 56, 202, var(--tw-text-opacity));
}

.underline {
	text-decoration: underline;
}

.antialiased {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opacity-0 {
	opacity: 0;
}

.opacity-100 {
	opacity: 1;
}

.shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.ring-1 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.ring-gray-300 {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(212, 212, 216, var(--tw-ring-opacity));
}

.ring-black {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(0, 0, 0, var(--tw-ring-opacity));
}

.ring-opacity-5 {
	--tw-ring-opacity: 0.05;
}

.transition {
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.duration-200 {
	transition-duration: 200ms;
}

.duration-150 {
	transition-duration: 150ms;
}

.duration-75 {
	transition-duration: 75ms;
}

.ease-in {
	transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.hover\:border-gray-300:hover {
	--tw-border-opacity: 1;
	border-color: rgba(212, 212, 216, var(--tw-border-opacity));
}

.hover\:bg-gray-600:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
}

.hover\:bg-gray-700:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(63, 63, 70, var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}

.hover\:bg-gray-50:hover {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}

.hover\:text-black:hover {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.hover\:text-gray-900:hover {
	--tw-text-opacity: 1;
	color: rgba(24, 24, 27, var(--tw-text-opacity));
}

.hover\:text-tan:hover {
	--tw-text-opacity: 1;
	color: rgba(14, 165, 233, var(--tw-text-opacity));
}

.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.hover\:text-gray-700:hover {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}

.hover\:text-gray-800:hover {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}

.hover\:text-gray-500:hover {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.focus\:border-indigo-300:focus {
	--tw-border-opacity: 1;
	border-color: rgba(165, 180, 252, var(--tw-border-opacity));
}

.focus\:border-gray-900:focus {
	--tw-border-opacity: 1;
	border-color: rgba(24, 24, 27, var(--tw-border-opacity));
}

.focus\:border-indigo-700:focus {
	--tw-border-opacity: 1;
	border-color: rgba(67, 56, 202, var(--tw-border-opacity));
}

.focus\:border-gray-300:focus {
	--tw-border-opacity: 1;
	border-color: rgba(212, 212, 216, var(--tw-border-opacity));
}

.focus\:bg-gray-100:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}

.focus\:bg-indigo-100:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
}

.focus\:bg-gray-50:focus {
	--tw-bg-opacity: 1;
	background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}

.focus\:text-gray-700:focus {
	--tw-text-opacity: 1;
	color: rgba(63, 63, 70, var(--tw-text-opacity));
}

.focus\:text-indigo-800:focus {
	--tw-text-opacity: 1;
	color: rgba(55, 48, 163, var(--tw-text-opacity));
}

.focus\:text-gray-800:focus {
	--tw-text-opacity: 1;
	color: rgba(39, 39, 42, var(--tw-text-opacity));
}

.focus\:text-gray-500:focus {
	--tw-text-opacity: 1;
	color: rgba(113, 113, 122, var(--tw-text-opacity));
}

.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.focus\:ring:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-indigo-200:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgba(199, 210, 254, var(--tw-ring-opacity));
}

.focus\:ring-opacity-50:focus {
	--tw-ring-opacity: 0.5;
}

.active\:bg-gray-900:active {
	--tw-bg-opacity: 1;
	background-color: rgba(24, 24, 27, var(--tw-bg-opacity));
}

.disabled\:opacity-25:disabled {
	opacity: 0.25;
}

@media (min-width: 640px) {

	.sm\:-my-px {
		margin-top: -1px;
		margin-bottom: -1px;
	}

	.sm\:ml-10 {
		margin-left: 2.5rem;
	}

	.sm\:ml-6 {
		margin-left: 1.5rem;
	}

	.sm\:flex {
		display: flex;
	}

	.sm\:hidden {
		display: none;
	}

	.sm\:w-10\/12 {
		width: 83.333333%;
	}

	.sm\:max-w-md {
		max-width: 28rem;
	}

	.sm\:items-center {
		align-items: center;
	}

	.sm\:justify-start {
		justify-content: flex-start;
	}

	.sm\:justify-center {
		justify-content: center;
	}

	.sm\:rounded-lg {
		border-radius: 0.5rem;
	}

	.sm\:bg-red-400 {
		--tw-bg-opacity: 1;
		background-color: rgba(248, 113, 113, var(--tw-bg-opacity));
	}

	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.sm\:pt-0 {
		padding-top: 0px;
	}
}

@media (min-width: 768px) {

	.md\:grid {
		display: grid;
	}

	.md\:w-7\/12 {
		width: 58.333333%;
	}

	.md\:w-full {
		width: 100%;
	}

	.md\:w-3\/5 {
		width: 60%;
	}

	.md\:bg-orange-400 {
		--tw-bg-opacity: 1;
		background-color: rgba(251, 146, 60, var(--tw-bg-opacity));
	}
}

@media (min-width: 1024px) {

	.lg\:col-span-1 {
		grid-column: span 1 / span 1;
	}

	.lg\:col-span-4 {
		grid-column: span 4 / span 4;
	}

	.lg\:col-span-3 {
		grid-column: span 3 / span 3;
	}

	.lg\:mx-4 {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.lg\:ml-4 {
		margin-left: 1rem;
	}

	.lg\:mb-0 {
		margin-bottom: 0px;
	}

	.lg\:block {
		display: block;
	}

	.lg\:flex {
		display: flex;
	}

	.lg\:grid {
		display: grid;
	}

	.lg\:w-10\/12 {
		width: 83.333333%;
	}

	.lg\:w-blog {
		width: 1000px;
	}

	.lg\:w-admin-lg {
		width: 980px;
	}

	.lg\:w-2\/5 {
		width: 40%;
	}

	.lg\:w-3\/5 {
		width: 60%;
	}

	.lg\:flex-row {
		flex-direction: row;
	}

	.lg\:justify-between {
		justify-content: space-between;
	}

	.lg\:bg-yellow-400 {
		--tw-bg-opacity: 1;
		background-color: rgba(250, 204, 21, var(--tw-bg-opacity));
	}

	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.lg\:px-2 {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.lg\:pl-12 {
		padding-left: 3rem;
	}
}

@media (min-width: 1280px) {

	.xl\:flex {
		display: flex;
	}

	.xl\:hidden {
		display: none;
	}

	.xl\:w-admin-xl {
		width: 1280px;
	}

	.xl\:w-10\/12 {
		width: 83.333333%;
	}

	.xl\:w-1\/3 {
		width: 33.333333%;
	}

	.xl\:flex-row {
		flex-direction: row;
	}

	.xl\:items-center {
		align-items: center;
	}

	.xl\:justify-between {
		justify-content: space-between;
	}

	.xl\:justify-start {
		justify-content: flex-start;
	}

	.xl\:bg-white {
		--tw-bg-opacity: 1;
		background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
	}

	.xl\:pb-0 {
		padding-bottom: 0px;
	}

	.xl\:text-xl {
		font-size: 1.25rem;
		line-height: 1.75rem;
	}
}
